/target/
/incoming/
/outgoing/
/log/
/src/main/resources-misc/marian-nmt/*-opus/opus*
/src/main/resources-misc/marian-nmt/*-opus/decoder.yml
/src/main/resources-misc/marian-nmt/*-opus/LICENSE
/src/main/resources-misc/marian-nmt/*-opus/README.md
/src/main/resources-misc/prepostprocessing/*-opus/*.sh
/src/main/resources-misc/prepostprocessing/*-opus/*.spm
/src/main/resources-misc/prepostprocessing/*-opus/*.tcmodel
/.settings/
/.classpath
/.checkstyle
/.project
/.idea
**/*.out.*
